body {
    background-color: orangered;
    font-family:"georgia";

}


}
h2 {
    color: black;
    text-align: center;
}

h3 {  color: black;
    text-align: center;

}

a:hover {

    text-justify: center;
    text-decoration: none;
    color: black;

    }

img {float: left;
    width: 25%;
    height: 25%; 
    padding-bottom: 30px;
    padding-right: 10px; 
}
    
article {
    margin: 0;
    padding: 20px;
    border: solid black;

}
