h2 {
    color: #0B470D;
    font-family: "Georgia";
    text-alight: center;
}

h3 {  color: #0B470D;
    font-family: "Georgia";
    text-alight: center;
}


a{
    text-decoration: none
}

span{
    text-transform: uppercase
}

a:hover {
    text-decoration: underline;
    }

img {float: left;
    width: 25%; 
    padding-right: 30px; 
}